<div class="container">
    <div class="title_cross">
      <h2>Modifier la catégorie</h2>
      <img (click)="categoriesService.toogleModifyIsTouched()" src="cross.svg" alt="Fermer la fenêtre">
    </div>
  
    <form [formGroup]="formGroup" class="form" (submit)="onSubmit()">
      <p>
        <strong>Nom :</strong> {{ categoriesService.categoryModified.name }}
      </p>
      <input formControlName="newName" type="text" placeholder="Entrez le nouveau nom" required />
      @if (newName?.hasError("required") && newName?.touched) {
        <p id="msg_error">Le nom de la catégorie est obligatoire</p>
      }
      @if (newName?.hasError("minlength")) {
        <p id="msg_error">Le nom de la catégorie doit faire au moins 3 caractères</p>
      }
      @if (newName?.hasError("maxlength")) {
        <p id="msg_error">Le nom de la catégorie doit faire maximum 50 caractères</p>
      }
      @if (newName?.hasError("pattern")) {
        <p id="msg_error">Le nom de la catégorie ne doit pas contenir de caractères spéciaux</p>
      }
      <div class="infos">
        <p>
          <strong>Créée le :</strong>
          {{ categoriesService.categoryModified.created_at}}
        </p>
        <p>
          <strong>Modifiée le :</strong>
          {{ categoriesService.categoryModified.updated_at}}
        </p>
      </div>
  
      <button type="submit">Valider les changements</button>
      @if (this.msgError != "") {
        <p [style]="{'color': 'red'}">{{this.msgError}}</p>
      }
    </form>
  </div>
  
