<div class="container">
    <div class="title_cross">
      <h2>Modifier la catégorie</h2>
      <img (click)="categoriesService.toogleModifyIsTouched()" src="cross.svg" alt="Fermer la fenêtre">
    </div>
  
    <form [formGroup]="formGroup" class="form" (submit)="onSubmit()">
      <p>
        <strong>Nom :</strong> {{ categoriesService.categoryModified.nom }}
      </p>
      <input formControlName="newName" type="text" placeholder="Entrez le nouveau nom" required />
  
      <p>
        <strong>Catégorie parent :</strong>
        @if (categoriesService.categoryModified.nom_parent == null) {
          Aucun
        }
        @else {
          {{ categoriesService.categoryModified.nom_parent }}
        }
      </p>
  
      <select formControlName="newParent">
        <option value="0">Aucun</option>
        @for (categorie of categoriesService.allCategories; track $index) {
          <option [value]="categorie.id">{{ categorie.nom }}</option>
        }
      </select>  
  
      <button type="submit">Valider les changements</button>
    </form>
  </div>
  
