<h1>Catégories</h1>
<div class="container_categories">
  <div class="search_and_add">
    <input type="text" (keyup)="this.searchCategories($event)" placeholder="Rechercher une catégorie...">
    <img (click)="this.categoriesService.toggleCreateIsTouched()" src="add.svg" alt="Ajouter une catégorie" title="Ajouter une catégorie">
  </div>
  <div class="colonnes">
    <p>ID</p>
    <p>Nom</p>
    <p>Modifier</p>
    <p>Supprimer</p>
  </div>
  <div class="categories">
    @if (this.isSearchBarActive) {
      @if (this.resultatsSearch?.length == 0 && this.resultatsSearch != null) {
        <div class="empty-row"><p>Aucun résultat trouvé pour votre recherche</p></div>
      }
      @else {
        @for (categorie of this.resultatsSearch; track $index) {
          <app-row-categorie [id]="categorie.id" [nom]="categorie.name"></app-row-categorie>
        }
      }
    }
    @else {
      @for (categorie of this.categoriesService.allCategories; track $index) {
        <app-row-categorie [id]="categorie.id" [nom]="categorie.name"></app-row-categorie>
      }
    }
  </div>
  @if (this.categoriesService.modifyIsTouched) {
    <div class="modal_overlay">
      <app-modify-categories id="modify"></app-modify-categories>
    </div>
  }
  @if (this.categoriesService.createIsTouched) {
    <div class="modal_overlay">
      <app-create-categories></app-create-categories>
    </div>
  }
  @if (this.categoriesService.deleteIsTouched) {
    <div class="modal_overlay">
      <app-delete-categories></app-delete-categories>
    </div>
  }
</div>
