<h1>Catégories</h1>
<div class="container_categories">
  <div class="search_and_add">
    <input type="text" placeholder="Rechercher une catégorie...">
    <img (click)="this.categoriesService.toggleCreateIsTouched()" src="add.svg" alt="Ajouter une catégorie" title="Ajouter une catégorie">
  </div>
  <div class="colonnes">
    <div id="arrow_down">
      <img  
        src="arrow_menu.svg" 
        alt="arrow_down"
      >
    </div>
    <p>ID</p>
    <p>Nom</p>
    <p>Modifier</p>
    <p>Supprimer</p>
  </div>
  <div class="categories">
    @for (categorie of this.categoriesService.parentCategories; track $index) {
      <app-row-categorie [color]="0.0" [id]="categorie.id" [nom]="categorie.nom"></app-row-categorie>
    }
  </div>
  @if (this.categoriesService.modifyIsTouched) {
    <div class="modal_overlay">
      <app-modify-categories id="modify"></app-modify-categories>
    </div>
  }
  @if (this.categoriesService.createIsTouched) {
    <div class="modal_overlay">
      <app-create-categories></app-create-categories>
    </div>
  }
  @if (this.categoriesService.deleteIsTouched) {
    <div class="modal_overlay">
      <app-delete-categories></app-delete-categories>
    </div>
  }
</div>
