<div class="container">
    <div class="title_cross">
      <h2>Créer une nouvelle catégorie</h2>
      <img
        src="cross.svg"
        alt="Fermer"
        (click)="categoriesService.toggleCreateIsTouched()"
      />
    </div>
  
    <form [formGroup]="formGroup" class="form" (submit)="onSubmit()">
      <label for="name"><strong>Nom de la catégorie :</strong></label>
      <input
        id="name"
        formControlName="newName"
        type="text"
        placeholder="Nom de la catégorie"
        required
      />
      @if (newName?.hasError("required") && newName?.touched) {
        <p id="msg_error">Le nom de la catégorie est obligatoire</p>
      }
      @if (newName?.hasError("minlength")) {
        <p id="msg_error">Le nom de la catégorie doit faire au moins 3 caractères</p>
      }
      @if (newName?.hasError("maxlength")) {
        <p id="msg_error">Le nom de la catégorie doit faire maximum 50 caractères</p>
      }
      @if (newName?.hasError("pattern")) {
        <p id="msg_error">Le nom de la catégorie ne doit pas contenir de caractères spéciaux</p>
      }

      <button type="submit">Ajouter</button>
      @if (nameAlreadyExists) {
        <p id="msg_error">La catégorie <span [style.font-weight]="'bolder'" >{{this.nameCategorie}}</span> existe déjà</p>
      }
    </form>
  </div>
  