<div class="container">
    <div class="container_content">
        <img src="home.svg" alt="">
    </div>
    <div class="container_content">
        <img src="categories.svg" alt="">
    </div>
    <div class="container_content">
        <img src="products.svg" alt="">
    </div>
    <div class="container_content">
        <img src="user.svg" alt="">
    </div>
    <div class="container_content">
        <img src="orders.svg" alt="">
    </div>
    <div class="container_content">
        <img src="dashboard.svg" alt="">
    </div>
</div>