<div #rowRef class="row">
    @for (info of infos; track $index) {
      @if ($index ==1) {
        <p class="p">{{info()}}</p>
      }
      @else {
        <p>{{info()}}</p>
      }
    }
    <div class="img">
      <img 
        (click)="this.modify()" 
        src="modify.svg" 
        alt="Modifier la catégorie"
        title="Modifier">
    </div>
    <div class="img">
      <img 
        src="delete.svg" 
        alt="Supprimer la catégorie"
        title="Supprimer"
        (click)="this.delete()"
        >
    </div>
  </div>